@import "tailwindcss";

@theme {
  --color-primary: #0F2E4A;
  --color-primary-dark: #0A1F32;
  --color-gold: #B28D5A;
  --color-gold-hover: #9E7D50;
  --color-coral: #BA6A58;
  --color-coral-hover: #A0594A;
  --color-background-main: #F4F7F6;
  --color-card: #FFFFFF;
}

@layer base {
  :root {
    --background: #F4F7F6;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  @layer base {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
